body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color:white;
}
* {
  box-sizing: border-box;
  text-align: center;
}
input {
  width: 25% !important;
  margin-right: 0.25em!important;
  margin-left: 0.25em!important;
}
.App {
  text-align: center;
}
.App-header {
  background-color:black;
  padding: 20px;
  color:blueviolet;
}
table{
  width:100%
}
th, td {
  border: 2px solid #dddddd;
  padding: 10px;
  text-align:center;
}
th {
  background-color: #f2f2f2;
}
tr:nth-child(even) {
  background-color: #f2f2f2;
}
tr:hover {
background-color: skyblue;
}
code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}